@media screen and (max-width: 520px) {
    .header nav {
    display: none;
    }

    .header__menu{
        display: block;
        margin-right: 20px;
    }

    .additional-content__wrapper{
        flex-wrap: wrap;
    }
}
