.wrapper, .container {
    width: 800px;
}

.wrapper, .container, .box {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    background: darksalmon;
    min-height: 100px;
    min-width: 100px;
}

.box {
    flex-direction: column;
}

.three {
    display: flex;
    column-gap: 5px;
}

.a{
    width: 415px;
}



